.bg-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(145deg, #fbfdff, #d4d4d8);
  box-shadow: 14px 14px 28px #cccdd1, -14px -14px 28px #ffffff;
}
