$ruler: 16px;

.app_wrapper {
}

form {
  opacity: 1;
  position: relative;
  padding: $ruler;
  border-radius: 10px;
  width: $ruler * 40;
  margin: $ruler * 5 auto;
  box-shadow: -5px -5px 10px $color-white, 2px 2px 5px $color-shadow;

  & ::placeholder {
    color: $second-txt-color;
  }

  & :-ms-input-placeholder {
    color: red;
  }

  & ::-ms-input-placeholder {
    color: red;
  }

}

button,
input,
textarea,
select {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: 10px;
  padding: $ruler / 1.5;
  margin: $ruler 0;
  background-color: $bg-color;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: inline-block;
  font-weight: 600;
  color: $bio-text-color;

  width: 100%;
}

input,
select,
textarea {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

input,
textarea {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;

  &.short {
    width: 80%;
  }
}

button,
.btn {
  padding: 10px 30px;
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

.right {
  float: right;
}

.blob {
  @include boxInset;
  display: inline-block;
  padding: 12px;
  border-radius: $border-radius /1.7;
  margin: 0 10px 10px 0;
}

.bold {
  font-weight: 600;
}

.blob_box {
  @include boxInset;
  display: inline-block;
  padding: 20px;
  border-radius: $border-radius;
  margin: 20px 20px 20px 0;
}

.blob_text {
  padding-bottom: 7px;
}

.treiners_rectangle {
  position: absolute;
  left: -55%;
  top: 10%;
}

.treiners_circle {
  position: absolute;
  right: -50%;
  top: 40%;
}

.treiners_circle2 {
  position: absolute;
  left: -45%;
  bottom: 10%;
}
