.landing_wrapper {
  overflow: hidden;
  visibility: hidden;
}

header {
  max-width: $main-width;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-height: 1080px;
}

.hero_img {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: -40%;
  height: 100%;
}
