.bg-rectangle {
  width: 200px;
  height: 200px;
  border-radius: $border-radius;
  background: linear-gradient(145deg, #fbfdff, #d4d4d8);
  @include boxShadow;
  transition: opacity 1s ease-in-out;
  animation: breath 9s infinite 0s ease-in-out;
  animation-direction: alternate;
}

@keyframes breath {
  100% {
    box-shadow: 0 0 0 #cccdd1,  0 0 0 #ffffff;
    opacity: 0;
  }
}
